.currentPage {
  font-weight: bold;
}

.pages {
  margin-left: 1px;

}

span:hover{
  background-color: yellow;
  transform: rotate(19deg);
}
.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}